    * {
        box-sizing: border-box;
        font-family: 'Lato', sans-serif;
        margin: 0;
        padding: 0;
    }
    
    .contenedor {
        padding: 60px 0;
        width: 90%;
        max-width: 1000px;
        margin: auto;
    }
    
    .menut {
        display: none;
    }
    
    header #navegacion {
        color: #ffffff;
        background-color: black;
        width: 100%;
        padding: 20px 0 20px 0;
        overflow: hidden;
    }
    
    header #navegacion a {
        display: inline-block;
        text-decoration: none;
        color: #ffffff;
        margin-right: 20px;
    }
    
    header #navegacion a:hover {
        color: #02542C;
        text-decoration: underline;
    }
    
    ul {
        list-style: none;
        float: right;
        margin-right: 20px;
    }
    
    li {
        float: left;
    }
    
    header {
        background: #5A3F37, url("OscarImg/Posible\ portada.jpg");
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #2C7744, #5A3F37), url("OscarImg/Posible\ portada.jpg");
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #2c774446, #5a3f3757), url("OscarImg/Posible\ portada.jpg");
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        width: 100%;
        max-height: 900px;
        min-height: 650px;
        background-position: center center;
        background-size: cover;
        background-attachment: fixed;
    }
    
    header .text {
        display: flex;
        height: 600px;
        width: 100%;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    
    header h1 {
        font-size: 50px;
        color: #ffffff;
    }
    
    header p {
        display: inline-block;
        margin-left: 30px;
        font-family: 'Lobster', cursive;
        cursor: pointer;
    }
    
    header p:hover {
        color: #02542C;
    }
    /*------------------------------------MAIN SECTION ABOUT MI------------------------------*/
    
    .titulo {
        color: black;
        font-size: 40px;
        text-align: center;
        margin-bottom: 50px;
        margin-top: 10px;
    }
    
    .sobre-nosotros {
        display: flex;
        justify-content: space-evenly;
    }
    
    .foto-oscar {
        width: 48%;
        border-radius: 50%;
        padding: 20px 20px;
    }
    
    .oscar-tex {
        width: 48%;
        padding: 0 0 20px 30px;
        margin-left: 30px;
        text-align: justify;
    }
    
    .oscar-tex p {
        margin-bottom: 30px;
    }
    
    .oscar-tex p:first-child {
        margin-top: 50px;
    }
    
    .oscar-tex p:last-child {
        margin-bottom: 50px;
    }
    /* --------------------------------Galeria-----------------------------------------------------------*/
    
    #obras h2 {
        padding-top: 20px;
        margin-bottom: 5px;
        text-align: center;
        font-size: 45px;
    }
    
    .linea {
        background-color: #131111;
        height: 5px;
        width: 100%;
        display: block;
    }
    
    #obras {
        background-color: #f2f2f2;
    }
    
    .galeria {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        width: 95%;
        margin: auto;
        grid-gap: 10px;
        padding: 40px 0;
        overflow: hidden;
    }
    
    .galeria img {
        width: 100%;
        vertical-align: top;
        height: 400px;
        object-fit: cover;
        transition: transform 0.5s;
        -webkit-transition: transform 0.5s;
        -moz-transition: transform 0.5s;
        -ms-transition: transform 0.5s;
        -o-transition: transform 0.5s;
    }
    
    .galeria>a {
        display: block;
        position: relative;
        overflow: hidden;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
        border-radius: 2px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -ms-border-radius: 2px;
        -o-border-radius: 2px;
    }
    
    .galeria a:hover img {
        filter: blur(2px);
        -webkit-filter: blur(2px);
        transform: rotate(10deg) scale(1.3);
        transition: transform 0.5s;
        -webkit-transition: transform 0.5s;
        -moz-transition: transform 0.5s;
        -ms-transition: transform 0.5s;
        -o-transition: transform 0.5s;
    }
    
    .light-box {
        position: fixed;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100vh;
        transition: transform .3s ease-in-out;
        -webkit-transition: transform .3s ease-in-out;
        -moz-transition: transform .3s ease-in-out;
        -ms-transition: transform .3s ease-in-out;
        -o-transition: transform .3s ease-in-out;
        z-index: 1000;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: scale(0);
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
    }
    
    .light-box img {
        width: 60vw;
        max-height: 90vh;
    }
    
    .light-box:target {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }
    
    .close {
        position: absolute;
        top: 20px;
        right: 40px;
        background-color: #9D220B;
        color: black;
        text-decoration: none;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        text-align: center;
        line-height: 32px;
        font-size: 30px;
    }
    
    .next {
        background: rgba(0, 0, 0, 0.5);
        color: #ffffff;
        text-decoration: none;
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 30px;
    }
    /* ----------------------------------------------Nuestros clientes------------------------------------------------------- */
    
    .foto-clientes {
        display: flex;
        justify-content: space-evenly;
    }
    
    .clientes {
        background-color: #E3F6EE;
        display: flex;
        width: 46%;
        height: 200px;
        align-items: center;
        justify-content: space-evenly;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
        overflow: hidden;
    }
    
    .foto-clientes .clientes img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        bottom: 3px solid black;
        object-fit: cover;
        display: block;
    }
    
    .foto-clientes .clientes>.textos-clientes {
        width: 60%;
        color: #131111;
    }
    
    .foto-clientes .clientes>.textos-clientes p {
        padding-top: 5px;
        text-align: justify;
    }
    /* ------------------------------------ -------------------- Footer---------------------------------------------------- */
    
    footer {
        background-color: #131111;
        color: #ffffff;
        padding: 10px 0 10px 0;
        text-align: center;
        font-weight: 300;
    }
    /* -------------------------------------------------Responsive Design--------------------------------------------------*/
    
    @media only screen and (max-width: 900px) {
        header h1 {
            text-align: center;
            font-size: 40px;
        }
        /*--------------------------------------------------About My----------------------------------------------------------- */
        .sobre-nosotros {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .foto-oscar {
            width: 95%;
        }
        .oscar-tex {
            width: 95%;
            text-align: center;
            margin-left: 0px;
            padding-left: 0px;
        }
        .oscar-tex p:first-child {
            margin-top: 50px;
        }
        .oscar-tex p:last-child {
            margin-bottom: 50px;
        }
    }
    /* ----------------------------------------------------Responsive 700px--------------------------------------------- */
    
    @media only screen and (max-width: 700px) {
        header #navegacion {
            width: 50%;
            max-height: max-content;
            left: -100%;
            margin: 0px;
            position: fixed;
        }
        header #navegacion ul {
            float: none;
            padding: 10px;
        }
        header #navegacion ul li {
            display: block;
            float: none;
            font-size: 25px;
            border-bottom: 1px solid rgba(255, 255, 255, .3);
        }
        header .menut {
            background-color: black;
            display: block;
            width: 100%;
            text-decoration: none;
        }
        header .menut .bt-menu {
            display: block;
            padding: 10px;
            color: #ffffff;
            font-size: 30px;
            text-decoration: none;
            font-weight: bold;
        }
        .menut span {
            color: #ffffff;
            float: right;
            font-size: 40px;
        }
        header #navegacion p {
            display: none;
        }
        .foto-clientes .clientes {
            height: 400px;
            display: flex;
            width: 48%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .foto-clientes .clientes img {
            margin-bottom: 10px;
        }
        .foto-clientes .clientes>.textos-clientes {
            width: 80%;
        }
    }
    /* ---------------------------------------------------Responsive  medio- pequeño-------------------------------------------------------------- */
    
    @media only screen and (max-width: 500px) {
        header {
            font-size: 30px;
        }
        /* -----------------------------------------------About mi------------------------------------------------------ */
        .about h2 {
            margin-bottom: 10px;
            margin-top: -10px;
        }
        .oscar-tex p:first-child {
            margin-top: 20px;
        }
        /* -------------------------------------Que opinan nuestros clientes-------------------------------------------- */
        .foto-clientes {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .foto-clientes .clientes {
            height: 400px;
            width: 90%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .foto-clientes .clientes img {
            width: 90px;
            height: 90px;
            margin-bottom: 20px;
        }
        .foto-clientes .clientes:first-child {
            margin-bottom: 20px;
        }
        .foto-clientes .clientes p {
            text-align: center;
        }
        .foto-clientes .clientes>.textos-clientes {
            width: 80%;
        }
    }